<ng-template #noGameFoundTemplate>
Spiel chan nöd glade werde :(
</ng-template>

<div *ngIf="game; else noGameFoundTemplate" fxLayoutAlign="center" fxLayout="column">
    <h1 fxLayoutAlign="center">Schieber</h1>
    <div fxLayoutGap="10px" fxLayoutAlign="center">
        <button class="bigger-text" fxFlex="30%" fxFlex.xs="45%" color="primary" mat-flat-button (click)="openEndRoundDialog()">Rundi</button>
        <button class="bigger-text" fxFlex="30%" fxFlex.xs="45%" color="primary" mat-flat-button (click)="openWeisenDialog()">Wiise</button>
    </div>
    <div fxLayoutAlign="center" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="100%" fxFlex.md="65%" fxFlex.lg="55%" fxFlex.xl="50%" fxLayout="row" fxLayout.lt-md="column">
            <jass-schieber-z flex [playerOne]='game.teamA.player1' [playerTwo]='game.teamA.player2' [twentyLines]='game.teamA.twentyLines' [fiftyLines]='game.teamA.fiftyLines' [hundredLines]='game.teamA.hundredLines' [remainder]='game.teamA.remainder'></jass-schieber-z>
            <jass-schieber-z flex [playerOne]='game.teamB.player1' [playerTwo]='game.teamB.player2' [twentyLines]='game.teamB.twentyLines' [fiftyLines]='game.teamB.fiftyLines' [hundredLines]='game.teamB.hundredLines' [remainder]='game.teamB.remainder'></jass-schieber-z>
        </div>
    </div>
</div>

