<div fxLayout="row" fxLayout.lt-md="column">
    <div>
        <button fxLayoutAlign="start" class="button">Neues Spiel</button>
        <div class="z-container" fxLayout="column">
            <div class="z-line-component">
                <div class="widthLineZ"></div>
            </div>
            <div fxFlex class="z-line-component diagonal-line">
                <div class="widthLineZ"></div>
            </div>
            <div class="z-line-component">
                <div class="widthLineZ"></div>
            </div>
        </div>
    </div>
    <div fxFlex>

    </div>
</div>

