<div fxLayout="column">
    <h1 fxLayoutAlign="center">Jasstafel Online</h1>

    <div fxLayoutGap="10px" fxLayout="column">
        <div fxLayoutAlign="center">
            <button fxFlex="50%" fxFlex.xs="95%" mat-raised-button class="bigger-text" (click)="openStartSchieberDialog()">Schieber</button>
        </div>
        <div fxLayoutAlign="center">
            <button fxFlex="50%" fxFlex.xs="95%" mat-raised-button class="bigger-text" (click)="openStartSchieberDialog()" disabled>Coiffeur</button>
        </div>
        <div fxLayoutAlign="center">
            <button fxFlex="50%" fxFlex.xs="95%" mat-raised-button class="bigger-text" (click)="openOverviewGames()">Übersicht vo de spiil</button>
        </div>
        <div fxLayoutAlign="center">
            <button fxFlex="50%" fxFlex.xs="95%" mat-raised-button class="bigger-text" (click)="openStartSchieberDialog()" disabled>Iistellige</button>
        </div>
    </div>
</div>