<h1 fxLayoutAlign="center" class="black-text">Punkte Hinzufügen</h1>
<div fxLayout="column" fxLayoutGap="5px">
    <mat-form-field class="example-full-width" class="black-text">
        <input matInput placeholder="Punkte" #pointInput value="157" type="number" max="257">
    </mat-form-field>
    <button mat-raised-button color="primary" class="bigger-text" (click)="addPoints(pointInput.value)">Add Points</button>
    <button mat-raised-button color="primary" class="bigger-text" (click)="closeDialog()">Close</button>
</div>
