<h1 fxLayoutAlign="center" class="black-text">Pünkt</h1>
<div fxLayout="column" fxLayoutGap="15px">
    <form fxFlex="100%" [formGroup]="pointsForm" fxLayout="column">
        <div fxFlex="100%" fxLayoutGap="10px">
            <mat-form-field fxFlex="45%" class="input-text">
                <input matInput placeholder="Punkte" type="number" [max]="157" [min]="0" formControlName="pointsA">
                <mat-error class="error-text" *ngIf="!pointsA.valid">bitte e möglichi punktzahl igeh</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="45%" class="input-text">
                <input matInput placeholder="Punkte" type="number" [max]="157" [min]="0" formControlName="pointsB">
                <mat-error class="error-text" *ngIf="!pointsB.valid">bitte e möglichi punktzahl igeh</mat-error>
            </mat-form-field>
        </div>
        <mat-button-toggle-group formControlName="multiplikator" fxLayout="row" class="button-toggle-group">
            <div fxLayout="column" fxFlex>
                <mat-button-toggle value="1">
                    <img src="assets/truempfe/Eicheln.svg" alt="Eichle" width="30px" height="40px">
                </mat-button-toggle>
                <mat-button-toggle value="1">
                    <img src="assets/truempfe/Rosen.svg" alt="Rose" width="40px" height="40px">
                </mat-button-toggle>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-button-toggle value="2">
                    <img src="assets/truempfe/Schellen.svg" alt="Schällä" width="40px" height="40px">
                </mat-button-toggle>
                <mat-button-toggle value="2">
                    <img src="assets/truempfe/Schilten.svg" alt="Schilte" width="40px" height="40px">
                </mat-button-toggle>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-button-toggle value="3" >
                    <img src="assets/truempfe/Obenabe.svg" alt="Obeabe" width="30px" height="40px">
                </mat-button-toggle>
                <mat-button-toggle value="3">
                    <img src="assets/truempfe/Undenufe.svg" alt="Uneufe" width="30px" height="40px">
                </mat-button-toggle>
            </div>
        </mat-button-toggle-group>
    </form>
    <button mat-raised-button color="primary" class="bigger-text" (click)="addPoints()" [disabled]="!pointsForm.valid">Rundi Beände</button>
    <button mat-raised-button color="warn" class="bigger-text" (click)="closeDialog()">Schlüüse</button>
</div>
