/* You can add global styles to this file, and also import other style files */
body { 
  background: url(http://mariafresa.net/newimages/blackboard-clipart-wallpaper-16.jpg) center center fixed; 
  background-size: cover;
}

* {
  font-family: 'Shadows Into Light', cursive;
  color: black;
}

.normal-font {
  font-family: 'Courier New', Courier, monospace;
}

.button:hover {
  background-color: rgba(149, 156, 150, 0.308);
  color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.bigger-text {
  font-size: 32px;
}

.input-text {
  color: black;
  font-size: 40px;
}